<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kepu.elearning.mapping.EmployeeMapper" >



<!-- ResultMap settings -->
 
  

<!-- Sql settings -->
  


<!-- Select Part -->
  
  	<select id="selectEmpByOpId" parameterType="java.lang.Integer" resultType="cn.kepu.elearning.pojo.EosorgTEmployee">
  		select * from eosorg_t_employee where operatorID = #{operatorID}
  	</select>
  


 


  
<!-- Delete Part -->
 



<!-- Insert Part -->
  
  
 
 
 
<!-- Update Part -->
  
</mapper>